*{
     margin: 0px;
     padding: 0px;
    
}

/* body{
     font-family: 'Merriweather', serif;
} */


/* banner */

.banner{
     background-image:  linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/bannerImage.png);
     margin: 50px 40px 0px 40px;
     text-align: center;
     border-radius: 16px;
     height: 600px;
     background-repeat: no-repeat;

}

.banner-content{
     text-align: center;
     padding: 200px 0;
}

.banner-greeting{
     color: #FFF;
     text-align: center;
     font-family: Merriweather;
     font-size: 32px;
     font-weight: 400;
}

.banner-title{
     color: #FFF;
     text-align: center;
     font-family: Merriweather;
     font-size: 72px;
     font-style: normal;
     font-weight: 900;
     line-height: 95px; /* 131.944% */
     padding-top: 30px;
}


/* one section */

.section-one{
     text-align: center;
     padding: 100px 80px;
}

.newyear-greeting{
     color: #F00;
     text-align: center;
     font-family: 'Inter', sans-serif;
     font-size: 88px;
     font-weight: 700;

}

.newyear-title{
     color: #F00;
     text-align: center;
     font-family: Inter;
     font-size: 24px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     padding-top: 50px;
}

.newyear-description{
     color: #070211;
     text-align: center;
     font-family: Inter;
     font-size: 48px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     padding-top: 20px;
}

.profile-picture{
     padding-top: 40px;
}



/* two section */
.section-two{
     background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/vctorrr.png);
     margin: 50px 40px 0px 40px;
     border-radius: 16px;
     height: 600px;
     background-repeat: no-repeat;

}
.section-two-banner{
     padding: 100px 100px;
}
.section-two-greeting{
     color: #FFF;
     font-family: Merriweather;
     font-size: 64px;
     font-style: normal;
     font-weight: 900;
     line-height: 88px; /* 137.5% */
     letter-spacing: 7.04px;
}
.section-two-title{
     color: rgba(255, 255, 255, 0.80);
     font-family: Inter;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 30px; /* 166.667% */
}

.btn-section-two{
     color: #FFF;
     text-align: center;
     font-family: Inter;
     font-size: 20px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     text-transform: uppercase;
     background-color: rgba(0, 0, 0, 0);
     border: 0px;
     padding-top: 20px;
     padding-left: 30px;
}


/* 3rd section */
.section-three{
     margin: 50px 30px 0px 30px;
}
.image-column-gift img{
     width: 400px;
}
.three-container{
     display: flex;
}

/* .three-container{
     padding: 20px;
} */
/* <!-- column-one --> */
.section-three{
     margin-top: 100px;
}
.column-one{
     justify-content: space-around;
     padding: 20px;
}

.column-one-greeting{
     color: #F00;
     font-family: Inter;
     font-size: 24px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     padding-top: 60px;

}

.column-one-title{
     color: #070211;
     font-family: Merriweather;
     font-size: 48px;
     font-style: normal;
     font-weight: 900;
     line-height: normal;
     text-transform: capitalize;
     padding-top: 17px;
}

.column-one-description{
     color: rgba(7, 2, 17, 0.60);
     font-family: Inter;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: 32px; /* 160% */
     padding-top: 17px;
}


/* <!-- column-three --> */
.column-three-greeting{
     color: #F00;
     font-family: Inter;
     font-size: 48px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     padding-top: 60px;
}

.column-three-title{
     color: rgba(7, 2, 17, 0.60);
     font-family: Inter;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: 32px; /* 160% */
     padding-top: 17px;

}

.image-three{
     padding-top: 22px;
}


/* <!-- section-four --> */
.image-container-box{
     margin-top: 100px;
     margin: 50px 30px 0px 30px;
     padding: 20px;
     
}

.image-three-one img{
     width: 380px;
}


/* <!-- section five subscribe section --> */

.subscribe-container{
     text-align: center;
     margin-top: 100px;
     margin: 50px 40px 0px 40px;
     border-radius: 16px;
     background: rgba(255, 0, 0, 0.05);
     padding-top: 100px ;
     height: 450px;
}

.subscribe-banner-content img{
     width: 150px;
}

.subscribe-banner-greeting{
     color: #070211;
     text-align: center;
     font-family: Merriweather;
     font-size: 48px;
     font-style: normal;
     font-weight: 900;
     line-height: normal;
     text-transform: capitalize;
     margin-top: 20px;

}

.subscribe-banner-title{
     color: rgba(7, 2, 17, 0.60);
     text-align: center;
     font-family: Inter;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: 32px; /* 160% */
     margin-top: 20px;
}


/* <!-- subscription --> */
.container {
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 20px;
   }
   
   .content {
     width: 400px;
     height: 50px;
     box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
     border-radius: 60px;
     overflow: hidden;
   }
   
   .subscription {
     position: relative;
     width: 100%;
     height: 100%;
   }
   
   .subscription .add-email{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border: none;
     outline: none;
     padding: 0 40px;
   }
   
   
.subscription .submit-email {
     position: absolute;
     top: 0;
     right: 0;
     height: calc(100%);
     width: 120px;
     border: none;
     outline: none;
     padding: 0 20px;
     cursor: pointer;
     background: #FF0000;
     color: #FFFFFF;
     color: #FFF;
     text-align: center;
     font-family: Inter;
     font-size: 15px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     text-transform: capitalize;
   }
   



   /* footer */

.footer{
     background-color: #070211;
     height: 450px;
     margin-top: 100px;
     text-align: center;
}

.footer-container{
     margin: 50px 30px 0px 30px;
     padding: 80px 20px 20px 20px;
}



.footer-first{
     display: flex;
     text-align: center;
     justify-content: space-between;
   }

.footer-title{
     color: #FFF;
     font-family: Inter;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 40px; /* 166.667% */
}

.icon-with-text{
     color: #FFF;
     font-family: Inter;
     font-size: 15px;
     font-style: normal;
     font-weight: 500;
     display: flex;
}

.icon-with-text img{
     width: 15px;
     padding-right: 10px;
}
   
   
.footer-first{
     padding-top: 30px;
}


/* social media */
.socialmedia-footer{
     text-align: center;
     padding-top: 40px;
}
.socialmedia-footer img{
     width: 40px;
}
   
   